*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00ebad;;
}

main.big-container {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1170px;
    height: 100VH;
}

.container {
    width: 100%;
    border: 5px solid #ffb600;
    border-radius: 15px;
    background-color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.task-list{
    border-radius: 5px;
    padding: 20px;
}

.task-list ul{
    list-style: none;
}

.task-list li{
    padding: 10px 0;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
}

.checked{
    text-decoration: line-through;
}

.new-task {
    text-align: center;
    padding: 20px;
}

.new-task input {
    padding: 10px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    margin-right: 35px;
    border-radius: 5px;
    border-color: #ffb600;
}

.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }