<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document...</title>
</head>
<body>
    
    <div id="app">

        <main class="big-container">
            <div class="container">

                <div class="task-list">
                    <div class="new-task">
                        <input type="text" placeholder="inserisci nuova cosa da fare" v-model="newTask">
                        <button class="cta" @click="pushTask">
                            <span class="hover-underline-animation">Aggiungi</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
                                <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button>
                        <!-- <button @click="pushTask">Aggiungi</button> -->
                    </div>
                    
                    <ul>
                        <li v-for="(element, index) in taskList">
                            <span class="task-text" :class="(element.done != false) ? 'checked':''">{{element.text}}</span>
                            <i class="fa-solid fa-xmark" @click="remouveTask(index)"></i>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
        </main>
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script type="text/javascript" src="js/main.js"></script>
</body>
</html>